<!DOCTYPE HTML>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Awarie prądu</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<h1>Wypisz się z powiadomień o planowanych wyłączeniach prądu w rejonie grupy Energa:</h1>
<table>
    <tr>
        <td>
            <form action="#" th:action="@{/unsubscribe}" th:object="${contactUnsubscribe}" method="post">

                <label for="formEmail">Podaj adres e-mail:</label><br>
                <input id="formEmail" name="formEmail" th:field="*{email}" type="tel">
                <br>
                <div class="error" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></div>
                <br>

                <input type="submit" value="Wypisz się">
            </form>
            <br>
            <div class="response" th:text="${serverResponse}"></div>
            <br>
            <a href="#" th:href="@{index}">"Zapisz się"</a>
            <br>
        </td>
        <td valign="top">
            <img src="map.png" alt="Mapa">
        </td>
    </tr>
</table>
</body>
</html>